
<footer>
  <div class="subscribe">
    <p class="subscribe-banner">Sign up with your email address to receive news and updates.</p>
    <form id="mc-embedded-subscribe-form" action="//justthingsido.us11.list-manage.com/subscribe/post?u=d55e0ead339546630d0a7fb63&amp;id=7494ccad9d" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="" class="validate">
      <input id="mce-EMAIL" type="email" placeholder=" Email Address" value="" name="EMAIL" class="required email">
      <input type="submit" class="submit-button">
    </form>
    <p class="subscribe-banner"> No spam! Promise :)                  </p>
  </div>
  <div class="copyright">
    <p>Copyright &copy; 
      <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> &nbsp; &middot; &nbsp;<a href="{{ site.url }}"> {{ site.title }}</a>
    </p>
  </div>
</footer>