footer
	.subscribe
		p.subscribe-banner Sign up with your email address to receive news and updates.
		form#mc-embedded-subscribe-form.validate(action='//justthingsido.us11.list-manage.com/subscribe/post?u=d55e0ead339546630d0a7fb63&id=7494ccad9d', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
			input#mce-EMAIL.required.email(type='email', placeholder=" Email Address" value='', name='EMAIL')        
			input.submit-button(type='submit')
		p.subscribe-banner  No spam! Promise :)                  

	.copyright
		p
			| Copyright &copy; 
			script.
				new Date().getFullYear()>2010&&document.write(new Date().getFullYear());
			|  &nbsp; &middot; &nbsp;
			a(href='{{ site.url }}')  {{ site.title }}
