head
	meta(charset="utf-8")
	title {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(http-equiv="content-type" content='text/html; charset=utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui")
	meta(name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}")
	meta(name='keywords' content='{{ site.keywords }}')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black')
	meta(name='application-name', content='{{ site.title }}')
	meta(name='msapplication-TileColor', content='#ffffff')
	meta(itemprop='url' content='{{ site.url }}')
	meta(name='copyright' content='{{ site.title }} All Rights Reserved')
	meta(name='robots' content='index follow')
	//- Social Media meta
	meta(property="og:site_name" content="{{ site.title }}")
	meta(property="og:url" content="{{site.url}}{{ page.url }}")
	meta(property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}")
	meta(property="og:type" content="website")
	meta(property="og:locale" content="en_US")
	meta(property="fb:app_id" content="733223316787067")		
	meta(property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}")
	meta(property="og:image" content='{{ site.url }}/assets/img/posts/thumbnails/{{page.thumbnail}}')
	link(rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}")
	//- link(rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ ''/feed.xml' | prepend: site.baseurl | prepend: site.url }}")
	| 
	link(rel='shortcut icon', href='{{ site.baseurl }}/assets/img/favicon.ico')
	| {% if site.development == true %}
	link(rel="stylesheet" type="text/css" href="/assets/css/main.min.css")
	| {% else %}
	link(href="/assets/css/critical.min.css")
	| {% endif%}
	| {% if page.load-js%}
	//- Require jquery by default, if not using it, disable it
	link(rel="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
	script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
	script(src="{{ site.baseurl }}/assets/js/jquery.instamax.min.js")
	| {%endif%}
