mixin follow()
  .follow-content
    .follow
      a(href="mailto:{{ site.email }}").extraLink.email-link +email me
      
      a.extraLink.followme +find me @
      .social-follow
        a.social.github(href="https://github.com/{{site.github_username}}")
          span.icon.github-icon
            //- svg(viewbox='0 0 438.5 438.5')
            //-   path(d='M409.1 114.6c-19.6-33.6-46.2-60.2-79.8-79.8C295.7 15.2 259.1 5.4 219.3 5.4c-39.8 0-76.5 9.8-110.1 29.4 -33.6 19.6-60.2 46.2-79.8 79.8C9.8 148.2 0 184.9 0 224.6c0 47.8 13.9 90.7 41.8 128.9 27.9 38.2 63.9 64.6 108.1 79.2 5.1 1 8.9 0.3 11.4-2 2.5-2.3 3.7-5.1 3.7-8.6 0-0.6 0-5.7-0.1-15.4 -0.1-9.7-0.1-18.2-0.1-25.4l-6.6 1.1c-4.2 0.8-9.5 1.1-15.8 1 -6.4-0.1-13-0.8-19.8-2 -6.9-1.2-13.2-4.1-19.1-8.6 -5.9-4.5-10.1-10.3-12.6-17.6l-2.9-6.6c-1.9-4.4-4.9-9.2-9-14.6 -4.1-5.3-8.2-8.9-12.4-10.8l-2-1.4c-1.3-1-2.6-2.1-3.7-3.4 -1.1-1.3-2-2.7-2.6-4 -0.6-1.3-0.1-2.4 1.4-3.3 1.5-0.9 4.3-1.3 8.3-1.3l5.7 0.9c3.8 0.8 8.5 3 14.1 6.9 5.6 3.8 10.2 8.8 13.8 14.8 4.4 7.8 9.7 13.8 15.8 17.8 6.2 4.1 12.4 6.1 18.7 6.1 6.3 0 11.7-0.5 16.3-1.4 4.6-1 8.8-2.4 12.8-4.3 1.7-12.8 6.4-22.6 14-29.4 -10.8-1.1-20.6-2.9-29.3-5.1 -8.7-2.3-17.6-6-26.8-11.1 -9.2-5.1-16.9-11.5-23-19.1 -6.1-7.6-11.1-17.6-15-30 -3.9-12.4-5.9-26.6-5.9-42.8 0-23 7.5-42.6 22.6-58.8 -7-17.3-6.4-36.7 2-58.2 5.5-1.7 13.7-0.4 24.6 3.9 10.9 4.3 18.8 8 23.8 11 5 3 9.1 5.6 12.1 7.7 17.7-4.9 36-7.4 54.8-7.4s37.1 2.5 54.8 7.4l10.8-6.8c7.4-4.6 16.2-8.8 26.3-12.6 10.1-3.8 17.8-4.9 23.1-3.1 8.6 21.5 9.3 40.9 2.3 58.2 15 16.2 22.6 35.8 22.6 58.8 0 16.2-2 30.5-5.9 43 -3.9 12.5-8.9 22.5-15.1 30 -6.2 7.5-13.9 13.9-23.1 19 -9.2 5.1-18.2 8.9-26.8 11.1 -8.7 2.3-18.4 4-29.3 5.1 9.9 8.6 14.8 22.1 14.8 40.5v60.2c0 3.4 1.2 6.3 3.6 8.6 2.4 2.3 6.1 3 11.3 2 44.2-14.7 80.2-41.1 108.1-79.2 27.9-38.2 41.8-81.1 41.8-128.9C438.5 184.9 428.7 148.2 409.1 114.6z')
            svg(xmlns='http://www.w3.org/2000/svg', version='1.1', x='0', y='0', width='42.6', height='42.6', viewbox='0 0 42.6 42.6', xml:space='preserve')
              path(d='M33.1 20.9c3.3 0.3 6.7 0.6 9.4 1.4 -2.7-0.4-6-1.1-9.4-1.2 -1.4 2.8-4.2 4.1-8.1 4.4 0.4 0.9 1.2 1.3 1.4 2.7 0.3 2.2-0.5 5.4 0.3 6.8 0.4 0.7 0.9 0.7 1.3 1.3 -1 1.1-3.3-0.1-3.6-1.3 -0.5-2 0.7-5.2-0.6-6.6 0.1 2.2-0.5 5.3 0.1 7.3 0.2 0.8 0.9 1.1 0.8 1.8 -4.4 0.4-2.6-5.7-3.3-9.4 -0.7 0-0.4 1-0.4 1.4 0 3.6 0.7 8.4-3.1 8 -0.1-0.7 0.5-1 0.8-1.7 0.7-2-0.1-5 0.2-7.4 -1.5 1.1 0.2 5-0.8 6.9 -0.5 1.1-2.2 1.6-3.5 1.1 0.2-0.8 1-0.7 1.4-1.5 0.5-1.1 0-2.7 0.2-4.3 -2.7 0.5-4.8-0.1-5.8-1.8 -0.5-0.8-0.6-1.7-1.1-2.3 -0.6-0.7-1.4-0.8-1.7-1.7 3.4-0.8 3.5 3.5 6.5 3.6 0.9 0 1.4-0.3 2.3-0.5 0.2-1.1 0.8-1.9 1.5-2.4 -3.7-0.5-6.8-1.7-8.3-4.5 -3.4 0.2-6.5 0.6-9.4 1.3 2.6-1 5.9-1.3 9.3-1.4 -0.2-1.2-2-0.9-3.1-0.8C4.2 20.2 1.6 20.5 0 20.8c2.4-0.8 5.7-0.7 8.9-0.7 -1-3.1-0.6-8 1.5-9.8 -0.6-1.5-0.4-4 0.4-5.2 2.4 0.1 3.9 1.2 5.4 2.2 1.9-0.5 3.8-0.8 6.4-0.7 1.1 0.1 2.2 0.5 3 0.5 0.8-0.1 1.7-1 2.4-1.3 1-0.4 1.9-0.6 3-0.7 0.6 1.3 0.9 3.3 0.4 4.9 2.2 1.9 2.9 6.4 1.9 10.1 3.1 0.2 6.8-0.1 9.2 0.8 -2.2-0.3-5.3-0.9-8.2-0.7C33.8 20.2 33 20.1 33.1 20.9z')

        a.social.linkedin(href='https://www.linkedin.com/in/{{site.linkedin-username}}')
          span.icon.linkedin-icon
            svg(viewbox='0 0 512 512')
              path(d='M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z')
        a.social.aboutme(href="http://guillermoremache.me/")
          span.icon.aboutme-icon
              svg(viewbox='0 0 64 64')
                path(d='M46.44 26.052c-2.65 0-4.113 1.954-4.427 4.08h8.892c-.244-2.022-1.673-4.08-4.463-4.08m-4.36 6.976c.457 2.23 2.304 3.8 4.884 3.8 1.396 0 3.417-.52 4.605-1.743l2.27 2.615c-2.06 2.165-5.12 2.758-7.22 2.758-5.09 0-9.06-3.662-9.06-8.894 0-4.882 3.66-8.892 8.825-8.892 4.99 0 8.684 3.837 8.684 8.893v1.466H42.08zm-12.52 6.974V29.434c0-1.882-.836-2.964-2.58-2.964-1.57 0-2.616 1.117-3.312 1.92v11.612h-4.535V29.434c0-1.882-.802-2.964-2.546-2.964-1.57 0-2.65 1.117-3.32 1.92v11.612H8.74l-.003-16.844h4.536v1.953c.768-.9 2.512-2.44 5.23-2.44 2.407 0 4.046 1.02 4.78 3.07 1.01-1.46 2.893-3.07 5.615-3.07 3.276 0 5.194 1.96 5.194 5.72v11.62H29.56z')
              //- a.social.blog(href="http://justthingsido.com") +Blog
